@font-face {
  font-family: 'YoungSerif';
  font-display: swap;
  font-weight: 100 900;
  src: url('/assets/fonts/young-serif/YoungSerif-Regular.ttf')
       format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-display: swap;
  font-weight: 100 900;
  src: url('/assets/fonts/outfit/Outfit-VariableFont_wght.ttf')
       format('truetype');
}

:root {
  --clr-primary-hsl: 14, 45%, 36%; /* nutmeg */
  --clr-secondary-hsl: 332, 51%, 32%; /* dark raspberry */

  --clr-neutral-hsl-100: 0, 0%, 100%; /* white */
  --clr-neutral-hsl-200: 330, 100%, 98%; /* rose white */
  --clr-neutral-hsl-300: 30, 54%, 90%; /* eggshell */
  --clr-neutral-hsl-400: 30, 18%, 87%; /* light gray */
  --clr-neutral-hsl-600: 30, 10%, 34%; /* wenge brown */
  --clr-neutral-hsl-700: 24, 5%, 18%; /* dark charcoal */

  --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
  --clr-neutral-200: hsl(var(--clr-neutral-hsl-200));
  --clr-neutral-300: hsl(var(--clr-neutral-hsl-300));
  --clr-neutral-400: hsl(var(--clr-neutral-hsl-400));
  --clr-neutral-600: hsl(var(--clr-neutral-hsl-600));
  --clr-neutral-700: hsl(var(--clr-neutral-hsl-700));

  
  --font-family-title: 'YoungSerif', serif;
  --font-family-content: 'Outfit', sans-serif;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 2rem;
  --fs-1000: 4rem;

}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0
}

/* avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button, input, textarea, select {
  font: inherit;
}

img, picture, svg, video, canvas {
  display: block;
  max-width: 100%;
}

ul, ol {
  padding: 0;
}

/* create a root stacking context */
#root, #__next {
  isolation: isolate;
}

table {
  text-align: left;
  width: 100%;
}

body {
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-600);
  font-size: var(--fs-400);
  font-family: var(--font-family-content);

  /* Typographic tweaks! */
  line-height: 1.5; /* Add accessible line-height */
  -webkit-font-smoothing: antialiased; /* Improve text rendering */
}

.recipe-page {
  background-color: var(--clr-neutral-100);
  max-width: 46rem;
}

section {
  width: calc(100% - 4rem);
  margin-inline: auto;
  padding: 2rem 0;
}

.section-title {
  color: hsl(var(--clr-primary-hsl));
  font-family: var(--font-family-title);
}

ol, ul {
  margin: 0 1.375rem;
}

ul ::marker {
  font-size: calc(var(--fs-400) - 4px);
}

@media only screen and (min-width: 600px) {
  body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    padding: 5rem 0;
  }

  .recipe-page {
    border-radius: 1rem;
    overflow: hidden;
  }

  .recipe-img {
    width: 90%;
    margin: 2rem auto 0;
  }
  
  .recipe-img img {
    border-radius: .5rem;
  }
  
  .recipe-description .section-title {
    font-size: calc(var(--fs-1000) - 1.5rem);
  }
}

.recipe-description h1 {
  color: var(--clr-neutral-700);
  font-size: calc(var(--fs-1000) - 1.75rem);
  padding-bottom: 1rem;
  line-height: 1.2;
}

.recipe-preparation {
  background-color: hsl(var(--clr-secondary-hsl), .1);
  border-radius: .5rem;
  /* margin: 0 2rem; */
  padding: 1.5rem; 
}

.recipe-preparation h2 {
  color: hsl(var(--clr-secondary-hsl));
  font-size: var(--fs-600);
}

.recipe-preparation ::marker {
  color: hsl(var(--clr-secondary-hsl));
}

section li {
  padding-left: 1rem;
  padding-top: .5rem;
}

.recipe-preparation span {
  font-weight: var(--fw-bold);
}

.recipe-ingredients,
.recipe-instructions {
  border-bottom: 1px solid var(--clr-neutral-400);
}

.recipe-ingredients ::marker,
.recipe-instructions ::marker {
  color: hsl(var(--clr-primary-hsl));
  font-weight: var(--fw-bold);
}

.recipe-instructions span {
  font-weight: var(--fw-bold);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }