/* custom properties */
:root {
  --clr-primary-900: hsl(179, 100%, 13%);
  --clr-primary-600: hsl(184, 100%, 22%);
  --clr-primary-400: hsl(31, 77%, 52%);

  /*
    1. paragraphs
    2. background, headings, buttons
  */
  --clr-neutral-100: hsl(0, 0%, 100%, 0.75);
  --clr-neutral-200: hsl(0, 0%, 95%);

  --ff-heading: "Big Shoulders Display", sans-serif;
  --ff-base: "Lexend Deca", sans-serif;

  --fs-400: 0.9375rem;
  --fs-600: 1.25rem;
  --fs-800: 2.5rem;

  --fw-normal: 400;
  --fw-bold: 700;
}

/* resets */
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/* general styles */

body {
  font-size: var(--fs-400);
  font-family: var(--ff-base);
  font-weight: var(--fw-normal);
  display: grid;
  place-items: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

main {
  margin: 5rem 1.5rem;
}

h2 {
  color: var(--clr-neutral-200);
  font-family: var(--ff-heading);
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  padding-block: 0.75rem;
  text-transform: uppercase;
}

p {
  color: var(--clr-neutral-100);
  line-height: 1.6;
  padding-bottom: 0.5rem;
}

section {
  display: grid;
  gap: 1rem;
  padding: 3rem;
}

.button {
  background-color: var(--clr-neutral-200);
  border: 2px solid transparent;
  border-radius: 50rem;
  cursor: pointer;
  padding: 0.8rem 0;
  max-width: 9rem;
}

/* preview card styles */

.preview {
  border-radius: 0.5rem;
  display: grid;
  margin-inline: auto;
  max-width: 920px;
  overflow: hidden;
}

@media screen and (min-width: 700px) {
  .preview {
    grid-template-columns: 1fr 1fr 1fr;
  }

  p {
    padding-bottom: 4rem;
  }
}

.sedan {
  background-color: var(--clr-primary-400);
}

.suv {
  background-color: var(--clr-primary-600);
}

.luxury {
  background-color: var(--clr-primary-900);
}

.button[data-accent="sedan"] {
  color: var(--clr-primary-400);
}

.button[data-accent="suvs"] {
  color: var(--clr-primary-600);
}

.button[data-accent="luxury"] {
  color: var(--clr-primary-900);
}

/* placed here instead in the general styles for specificity. */
.button:is(:hover, :focus) {
  background: none;
  border-color: var(--clr-neutral-200);
  color: var(--clr-neutral-200);
}
