:root {
  --clr-primary-900: hsl(257, 40%, 49%);
  --clr-primary-600: hsl(300, 69%, 71%);

  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;

  --fw-normal: 400;
  --fw-bold: 600;

  --spacing: 1rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

html {
  font-family: var(--ff-primary);
  font-display: swap;
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);
}

body {
  background: url("./images/bg-mobile.svg") no-repeat;
  background-size: contain;
  background-color: var(--clr-primary-900);
  color: var(--clr-neutral-100);
}

.main-layout {
  display: grid;
  grid-template-rows:
    auto
    1fr
    auto;
  gap: 3.5rem;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 2.25rem;
  max-width: 1230px;
  margin-inline: auto;
}

header img {
  max-width: 8rem;
}

main {
  text-align: center;
}

.illustration {
  margin-bottom: 3rem;
}

.content {
}

.content h1 {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
}

.content p {
  font-family: var(--ff-secondary);
  font-size: var(--fs-400);
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.content .button {
  border: none;
  border-radius: 50rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  color: var(--clr-primary-900);
  cursor: pointer;
  font-size: var(--fs-300);
  padding: 0.75rem 4.5rem;
  outline: none;
}

.social-links {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

.social-links a {
  border: 1px solid var(--clr-neutral-100);
  border-radius: 50%;
  padding: 0.1rem 0.4rem;
  text-decoration: none;
}

.social-links a:first-child {
  padding: 0 0.5rem;
}

.social-links i {
  color: var(--clr-neutral-100);
  font-size: var(--fs-300);
}

@media screen and (min-width: 1100px) {
  body {
    background: url("./images/bg-desktop.svg") no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--clr-primary-900);
  }

  .main-layout  {
    gap: 0;
  }

  main {
    display: grid;
    grid-template-columns: auto 1fr;
    place-content: center;
    text-align: left;
  }

  .illustration {
    margin-bottom: 0;
  }

  .content {
    padding-top: 3rem;
  }

  .content h1 {
    font-size: var(--fs-800);
  }

  .social-links {
    justify-content: flex-end;
  }
}
