@font-face {
  font-family: "Outfit";
  font-weight: 100 900;
  font-display: swap;
  src: url('./font/Outfit-VariableFont_wght.ttf')
       format('truetype');
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-bg: hsl(212, 45%, 89%);
  --clr-paragraph: hsl(220, 15%, 55%);
  --clr-heading: hsl(218, 44%, 22%);

  --font-family-default: "Outfit", sans-serif;
  --fs-default: 0.9375rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* avoid text overflows */
p, h1 {
 overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: var(--clr-bg);
  font-family: var(--font-family-default);
  -webkit-font-smoothing: antialiased; /* improve text rendering */
  display: grid;
  place-items: center;
  height: 100dvh;
}

.qr-code-card {
  background: var(--clr-white);
  border-radius: 1rem;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  max-width: 20rem;
  margin: 0 1rem;
  padding: 1rem;
  text-align: center;
}

.qr-img {
  border-radius: .5rem;
  overflow: hidden;
}

.qr-content {
  padding: 1rem; 
}

.qr-content h2 {
  color: var(--clr-heading);
  font-size: 1.35rem;
  margin-bottom: 1rem;
}

.qr-content p {
  color: var(--clr-paragraph);
  font-size: var(--fs-default);
}
