@font-face {
  font-family: "Figtree";
  font-display: swap;
  font-weight: 100 900;
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}

:root {
  --clr-primary-yellow: hsl(47, 88%, 63%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-grey: hsl(0, 0%, 50%);
  --clr-neutral-black: hsl(0, 0%, 7%);

  --font-family-default: "Figtree", sans-serif;

  --fs-300: calc(var(--fs-400) - 2px);
  --fs-400: 1rem;

  --fw-semibold: 600;
  --fw-extrabold: 800;

  --gen-spacing-400: 1rem;
  --gen-spacing-500: 1.5rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
}

p,
h1,
h3 {
  overflow-wrap: break-word; /* Avoid text overflows */
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  background: var(--clr-primary-yellow);
  display: grid;
  place-items: center;
  font-family: var(--font-family-default);
  font-size: var(--fs-400);
  font-weight: var(--fw-semibold);
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased; /* Improve text rendering */
}

.blog-preview-card {
  background: var(--clr-neutral-white);
  border-radius: 1rem;
  border: 1px solid var(--clr-neutral-black);
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.9);
  max-width: 24rem;
  margin-inline: var(--gen-spacing-500);
  padding: var(--gen-spacing-500);
}

.blog-img {
  border-radius: 0.75rem;
  overflow: hidden;
  margin-bottom: var(--gen-spacing-500);
}

.blog-img img {
  max-width: 110%;
}

.blog-tag {
  background-color: var(--clr-primary-yellow);
  border-radius: 4px;
  display: inline-block;
  font-size: calc(var(--fs-300) - 2px);
  font-weight: var(--fw-extrabold);
  margin-bottom: 0.85rem;
  padding: 6px 13px;
}

.blog-date {
  font-size: calc(var(--fs-400) - 4px);
  margin-bottom: calc(var(--gen-spacing-400) + 1px);
}

.blog-content h1 {
  font-size: calc(var(--fs-400) * 1.25);
  font-weight: var(--fw-extrabold);
  margin-bottom: var(--gen-spacing-400);
}

.blog-content h1:hover {
  color: var(--clr-primary-yellow);
  cursor: pointer;
}

.leading {
  color: var(--clr-neutral-grey);
  font-size: var(--fs-300);
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: var(--gen-spacing-500);
}

footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

footer img {
  width: 2rem;
}

footer h3 {
  font-size: var(--fs-300);
  font-weight: var(--fw-extrabold);
}

@media screen and (min-width: 700px) {
  .blog-img img {
    max-width: 100%;
  }

  .blog-tag {
    font-size: var(--fs-300);
  }

  .blog-date {
    font-size: calc(var(--fs-400) - 2px);
  }

  .blog-content h1 {
    font-size: calc(var(--fs-400) * 1.52);
  }

  .leading {
    font-size: var(--fs-400);
  }
}
