@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

:root {
  --clr-primary-hsl-400: 233, 47%, 7%; /* main background, very dark blue */
  --clr-primary-hsl-500: 244, 38%, 16%; /* card background, dark desaturated blue */

  --clr-accent-hsl-1: 277, 64%, 61%; /* accent, soft violet */

  --clr-neutral-hsl-400: 0, 0%, 100%; /* main headings and stats, white */
  /*
    --Slightly transparent white (main paragraph) - use clr neutral 400 with transparency of 0.75
    --Slightly transparent white (stat headings) - use clr neutral 400 with transparency of 0.6
  */

  --font-family-primary: "Inter", sans-serif;
  --font-family-secondary: "Lexend Deca", sans-serif;

  --fs-400: 0.9375rem; /* 15px */
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 2rem;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 800;
}


*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  color: hsl(var(--clr-neutral-hsl-400));
  font-family: var(--font-family-primary); 
  -webkit-font-smoothing: antialiased; /* improve text rendering */
}

@media only screen and (min-width: 600px) {
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }

  .stats-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .stats-img {
    grid-area: 1 / 2 / 1 / 3;
  }

  .stats-content {
    grid-area: 1 / 1 / 1 / 2;
  }

  .stats-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

img, picture, canvas, svg, video {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* create a root stacking context */
#root, #__next {
  isolation: isolate;
}

ul {
  list-style: none;
  padding: 0;
}

main {
  background: hsl(var(--clr-primary-hsl-400));
  display: grid;
  padding: 2rem 0;
  place-items: center;
  max-width: 90vw;
  margin-inline: auto;
}

.stats-card {
  max-width: 80%;
  margin-inline: auto;
}

.stats-content {
  background: hsl(var(--clr-primary-hsl-500));
}

.stats-content h1 {
  color: hsl(var(--clr-neutral-hsl-400));
}

.stats-content span {
  color: hsl(var(--clr-accent-hsl-1));
}

.stats-content p {
  color: hsl(var(--clr-neutral-hsl-400), 0.75);
  font-family: var(--font-family-secondary);
  line-height: 1.5;
}

.stats-data p {
  color: hsl(var(--clr-neutral-hsl-400), 0.6);
  font-family: var(--font-family-secondary);
  font-size: var(--fs-400);
  text-transform: uppercase;
}
