:root {
  --clr-primary-400: hsl(333, 80%, 67%);
  --clr-primary-900: hsl(300, 43%, 22%);

  --clr-neutral-400: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(300, 24%, 96%);
  --clr-neutral-900: hsl(303, 10%, 53%);

  --ff-default: "League Spartan", sans-serif;

  --fs-400: 0.8125rem;
  --fs-500: 0.9375em;
  --fs-600: 1rem;
  --fs-900: 2rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --border-rad: 0.5rem;
  --line-height: 1.5;
  --spacing: 1rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: var(--ff-default);
  font-display: swap;
  font-optical-sizing: auto;
}

body {
  background-image: url("/images/bg-pattern-top-mobile.svg"), url("./images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position:
    left 0 top 0,
    right 0 bottom 0;
  line-height: 1;
  padding-block: 5rem;
  min-height: 100dvh;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
  padding: 0;
}

.grid {
  display: grid;
}

main {
  padding-inline: 2rem;
  gap: 2rem;
  max-width: 1120px;
  margin-inline: auto;
}

.title {
  margin-inline: auto;
}

.title h1 {
  color: var(--clr-primary-900);
  font-size: var(--fs-900);
  max-width: 12ch;
  margin-inline: auto;
  padding-bottom: 1rem;
}

.lead {
  color: var(--clr-neutral-900);
  font-weight: var(--fw-medium);
  line-height: var(--line-height);
}

.ratings ul {
  gap: 1rem;
}

.ratings li {
  background: hsl(333, 80%, 67%, 0.1);
  border-radius: var(--border-rad);
  display: flex;
  gap: 0.75rem;
  align-items: center;
  flex-direction: column;
  padding: 0.75rem 0;
}

.stars {
  display: flex;
  gap: 0.45rem;
}

.ratings h2 {
  color: var(--clr-primary-900);
  font-size: var(--fs-500);
}

.testimonials {
  text-align: left;
  gap: var(--spacing);
}

.testimonials blockquote {
  background: var(--clr-primary-900);
  border-radius: var(--border-rad);
  padding: 2rem;
}

blockquote > p {
  color: var(--clr-neutral-500);
  font-size: var(--fs-500);
  line-height: var(--line-height);
}

.reviewer-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  margin-bottom: 1.5rem;
}

.testimonials img {
  border-radius: 50%;
  width: 2.5rem;
}

.reviewer-info > * {
  font-size: var(--fs-500);
}

.reviewer-info h3 {
  color: var(--clr-neutral-500);
  padding-bottom: 0.15rem;
}

.reviewer-info p {
  color: hsl(333, 80%, 67%, 0.7);
  font-weight: var(--fw-medium);
}

@media screen and (min-width: 800px) {
  body {
    background: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position:
      left 0 top 0,
      right 0 bottom 0;
  }

  main.grid {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  section.title {
    text-align: left;
  }

  .lead {
    margin-right: 6rem;
  }

  section.title h1 {
    font-size: calc(var(--fs-900) * 1.5);
    margin: 0;
  }

  .ratings {
    padding-top: 1rem;
  }

  .ratings li {
    flex-direction: row;
    gap: 2rem;
    padding: 1rem 0 1rem 2rem;
  }

  .ratings li:nth-child(1) {
    margin-right: 5rem;
  }

  .ratings li:nth-child(2) {
    margin-inline: 2.5rem;
  }

  .ratings li:nth-child(3) {
    margin-left: 5rem;
  }

  section.testimonials {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 2;
    gap: 2rem;
  }

  .testimonials blockquote:nth-child(1) {
    margin-bottom: 2rem;
  }

  .testimonials blockquote:nth-child(2) {
    margin-block: 1rem;
  }

  .testimonials blockquote:nth-child(3) {
    margin-top: 2rem;
  }
}
